# Environment variable
NEXT_PUBLIC_ENVIRONMENT=development # production | staging | development

# The base URL of the website, used for generating absolute URLs in emails, sitemaps, etc.
NEXT_PUBLIC_SITE_URL=http://localhost:3001